body {
    background-color: #000 !important;
    color: #fff;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #343a40 !important; /* dark grey navbar */
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #007bff !important; /* blue on hover */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand .fas {
    margin-right: 5px; /* Adjust as needed */
    font-size: 1.5rem; /* Adjust icon size */
}

.wheel-container {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

canvas {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 0%;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #fff; /* white arrow */
    transform: translate(-50%, -50%) rotate(-90deg); /* Adjust rotation */
    display: none;
}

.dark-mode .card-header {
    background-color: #343a40;
    border-bottom: 1px solid #444;
    padding: 15px 20px; /* Adjust padding for better spacing */
}

.dark-mode .card {
    background-color: #343a40;
    border: 1px solid #444;
}

.dark-mode .card-body {
    color: #fff;
}

.dark-mode .nav-link.active {
    background-color: #007bff !important;
}

.dark-mode .nav-tabs {
    border-bottom: 1px solid #444;
}

.dark-mode .nav-tabs .nav-item {
    margin-bottom: -1px;
}

.dark-mode .nav-tabs .nav-link {
    color: #fff;
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.dark-mode .nav-tabs .nav-link:hover {
    border-color: #444 #444 #007bff;
}

.dark-mode .modal-content {
    background-color: #343a40;
    color: #fff;
}

.dark-mode .modal-header {
    border-bottom: 1px solid #444;
}

.dark-mode .modal-footer {
    border-top: 1px solid #444;
}

.dark-mode .modal-title {
    color: #fff;
}

/* Additional card styles */
.card {
    margin-bottom: 20px;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    border-bottom: none; /* Remove the existing border-bottom */
    padding: 15px 20px; /* Adjust padding for better spacing */
}

.card-body {
    color: #000; /* Adjust text color for body */
}

.card-title {
    font-weight: bold; /* Make the card titles bold */
}

@media (max-width: 992px) {
    /* Adjustments for medium screens */
    .wheel-container {
        margin-bottom: 40px; /* Increase spacing */
    }
}

@media (max-width: 768px) {
    /* Adjustments for small screens */
    .wheel-container {
        margin-bottom: 20px; /* Revert margin for smaller screens */
    }
    
    .card {
        margin-bottom: 30px;
    }
}
